body {
    background-color: rgb(5, 5, 5);
}
.dice-container {
    text-align: center;
    row-gap: 150px;
}
.dice {
    width: 100px;
    border-radius: 20px;
}
.table {
    display: table;
    position: absolute;
    width: 20%;
    cursor: pointer;
    color: black;
    flex-direction: row;
}
.specialContainer {
    display: table;
    position: absolute;
    right: 0;
    width: 20%;
    cursor: pointer;
    color: black;
    flex-direction: row;
}
.cell {
    display: table-cell;
    border: 1px solid;
    padding: 7px;
    text-align: center;
    width: 1%;
    border-color: rgb(7, 250, 3);
    color: rgb(255, 255, 255);
    font-size: 12px;
    flex-direction: row;
}
.header {
    background-color: rgb(205, 41, 41);
}
.button-container {
    text-align: center;
}